*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.box{
    box-sizing: border-box;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    transition-duration: 0.5s;
    border-radius: 20px;

}

button{
    width: 520px;
    cursor: pointer;
    font-weight: bold;
}

.sample{
    
}