@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

*{
    font-family: EASTARJET-Medium;
    user-select: none;
}

#clickMutual{
    font-size: 20px;
    cursor: pointer;
}

hr{
    border: 2px solid black;
}

#inputMutual{
    width: 500px;
    border: none;
    font-size: 30px;
    font-weight: bolder;
}

#displayMutual{
    color: red;
    width: 500px;
    font-size: 30px;
    font-weight: bolder;

}

/* menuList 설정 */
.menuList{
    min-height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menuList .addedMenuGroup{
    width: 33.333%;
    height: 100px;
}

.addedMenuGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addedMenuGroup input{
    height: 50%;
}

/* 체크박스 스타일 */
input[type="checkbox"] {
    /* 원하는 크기로 조절 */
    width: 30px;
    height: 30px;
}

/* 보여질 메뉴 설정 */
.menuSquadConent{
    color: red;
}

.addedMenuGroup :nth-child(2){
    width: 200px;
}

/* 숨김클래스 속성 넣기 */
.disNone{
    display: none;
}

.teamBtn{
    padding: 10px 20px;

    display: flex;
    flex-direction: row-reverse;
}

.teamBtn button{
    width: 100px;
    height: 30px;
    color: black;
    font-size: 20px;
    
    border: 2px solid black;
    border-radius: 7.5px;
    margin: 10px;

    cursor: pointer;
}

/* 추가 기능 */
/* 관리자 로그인 패널 */

#managerLogin{
    z-index: 1000;

    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* 화면 정가운데 고정 */
    position: fixed;
    right: 50%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    
}

#managerLogin *{
    padding: 10px;
}

#mangerPannel_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#mangerPannel_1 :first-child{
    color: blueviolet;
    font-weight: 900;
    font-size: 20px;
}

#managerPw{
    width: 200px;
}

#managerBtnbox button{
    background-color: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;

    cursor: pointer;
}  